@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800;900&family=Unbounded:wght@900&display=swap');

$light-color: #e9e8ed;
// $light-color-raster: rgba(181, 238, 253, 0.2);
$dark-color: #003a4d;
$secondary-color: #e5c687;
// $primary-color: #31b667;
$primary-color: #07814a;
$font-stack: 'Open Sans', sans-serif;
