@import 'variables';

.container {
  position: relative;
  .title {
    font-weight: 900;
    color: $primary-color;
    width: 100%;
    position: absolute;
    bottom: 3rem;
    left: 2rem;
    text-align: center;
  }

  svg {
    path {
      cursor: pointer;
    }
  }
}
