@import 'variables';

.container {
  position: relative;
  .title {
    font-family: 'Unbounded';
    font-size: 3.5rem;
    line-height: 1.1;
    font-weight: 900;
    color: $primary-color;
    width: 100%;
    position: absolute;
    top: -5rem;
    left: 0;
    text-align: center;
  }
}

.main-container {
  svg {
    path {
      cursor: pointer;
    }
  }
}
