@import 'variables';

.container.nav {
  width: 100%;
  justify-content: space-between;
  .logo {
    font-weight: 900;
    font-size: 1.8rem;
    letter-spacing: 0.1rem;
    span {
      color: $dark-color;
    }
    svg {
      color: $primary-color;
      height: 3rem;
      width: 3rem;
      padding-bottom: 0.5rem;
    }
  }

  .navbar-collapse {
    font-size: 1.1rem;
    font-weight: 600;
    color: $dark-color;
    align-items: center;
    justify-content: flex-end;
    .navbar-nav {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      width: 100%;
    }
  }
  //   // width: auto;

  //   .navbar-nav {
  //   }
  // }

  button.login {
    background-color: $primary-color;
    margin: 0 1rem;
    box-shadow: none;
    border-color: #07814a;

    &:active,
    &:hover {
      box-shadow: 0 0 0 0.2rem rgba(7, 129, 74, 0.4);
    }
  }
}
